input{
  width: 100%;
}

nz-form-control{
  width: 80%;
}

nz-input-number{
  width: 100%;
}

th{
  width: 20%;
}

nz-select{
  width: 100%;
}

::ng-deep .ant-card-head{
  height: 30px;
  font-weight: 500;
}



