<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <i nz-icon nzType="area-chart" nzTheme="outline" style="color: #ffffff"></i>
      <h1>抽奖后台管理</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/config"><i nz-icon nzType="account-book" nzTheme="fill"></i>奖品配置</a>
      </li>
<!--      <li nz-menu-item nzMatchRouter>
        <a routerLink="/prize"><i nz-icon nzType="account-book" nzTheme="fill"></i>奖品设置</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/plan"><i nz-icon nzType="book" nzTheme="fill"></i>抽奖计划</a>
      </li>-->
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/user"><i nz-icon nzType="idcard" nzTheme="fill"></i>参与用户</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/record"><i nz-icon nzType="profile" nzTheme="fill"></i>中奖记录</a>
      </li>
 <!--     <li nz-menu-item nzMatchRouter>
        <a routerLink="/logs"><i nz-icon nzType="message" nzTheme="fill"></i>执行日志</a>
      </li>-->
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content" style="overflow: auto;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
