<form nz-form (ngSubmit)="onSubmit()" #prizeForm="ngForm">
  <div nz-row [nzGutter]="8">
    <legend>新增奖品</legend>
    <div nz-col [nzSpan]="7">
      <nz-form-item nzFlex>
        <nz-form-label nzRequired>奖品名称</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input required maxlength="20" [(ngModel)]="addPrize.prizeName" id="prizeName"
                 name="prizeName"/>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="7">
      <nz-form-item nzFlex>
        <nz-form-label nzRequired>奖品数量</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-input-number nz-input required [(ngModel)]="addPrize.prizeCount" id="prizeCount"
                           name="prizeCount">
          </nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="7">
      <nz-form-item nzFlex>
        <nz-form-label nzRequired>奖品等级</nz-form-label>
        <nz-form-control nzHasFeedback>

          <nz-select [(ngModel)]="addPrize.prizeLevel" nzPlaceHolder="选择等级....." id="prizeLevel" name="prizeLevel">
            <nz-option *ngFor="let level of prizeLevel" [nzValue]="level.code" [nzLabel]="level.value"></nz-option>
          </nz-select>

        </nz-form-control>
      </nz-form-item>
    </div>
    <button style="margin-top: 4px" nz-button nzType="primary" [disabled]="!prizeForm.form.valid">新增</button>
  </div>

  <legend style="margin-top: 20px">奖品列表</legend>

</form>

<nz-table #basicTable [nzData]="prizeList" [nzPageSize]="5">
  <thead>
  <tr>
    <th>奖品名称</th>
    <th>奖品等级</th>
    <th>奖品数量</th>
    <th>已中数量</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td><input nz-input [(ngModel)]="data.prizeName"  required maxlength="20"></td>
    <td>
      <nz-select [(ngModel)]="data.prizeLevel" required nzPlaceHolder="选择等级.....">
        <nz-option *ngFor="let level of prizeLevel" [nzValue]="level.code" [nzLabel]="level.value"></nz-option>
      </nz-select>
    </td>
    <td><nz-input-number nz-input required [(ngModel)]="data.prizeCount"></nz-input-number></td>
    <td>{{data.sentedPrize}}</td>
    <td>
      <a (click)="savePrize(data)">保存</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a nz-popconfirm
         nzPopconfirmTitle="确认删除吗？"
         nzPopconfirmPlacement="bottom"
         (nzOnConfirm)="deletePrize(data.id)">删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>

